test-server/server.js

.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual envrionment
.venv

# VScode
.vscode/settings.json

# grammar files
grammar*.json
*/grammar*.json

#temporary files
temp/*
*/temp
test/*
demo*/*

#debug files
debug*/*


*/node_modules/
node_modules/*
github.json
starwars.json
yelp.json
